# Byte-compiled / optimized
__pycache__/
*.py[cod]
*egg-info/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Sphinx
docs/build/

# Virtual environments
*.venv/